<h1 class="text-center">Data Binding</h1>
<p>there are 4 types of dataBinding done in angular</p>
<ul > 
<li>
  <p>1.Interpolation</p>
  <p>2.property Binding</p>
  <p>3.Event Binding</p>
  <p>4.Two way Binding</p>
</li>
<hr>
<!-- property binding done here
 
-->
<h1 class="text-center"> 
  Property Binding 
  <!-- Its an propetry  -->
</h1>
<div id="container" class="container" class="text-center">
  <p  [innerHTML]="str"></p>
<img id="img" [src] = "imgpath" height="200px" width="150px">
 <button id="Btn" class="btn btn-primary" (click)="fun()">know more 
  <!-- click event -->

 </button>
</div>
<div id="btn_container">
  <input type="text" id="num1">
  <input type="text"id="num2">
  <button class="btn btn-warning" (mouseover)="add()"></button>

</div>
