<h1 class="text-center">Data Binding</h1>
<p>there are 4 types of dataBinding done in angular</p>
<ul > 
<li>
  <p>1.Interpolation</p>
  <p>2.property Binding</p>
  <p>3.Event Binding</p>
  <p>4.Two way Binding</p>
</li>
<hr>
<!-- property binding done here
 
-->
<h1 class="text-center"> 
  Property Binding 
  <!-- Its an propetry  -->
</h1>
<div id="container" class="container" class="text-center">
  
<img id="img" [src] = "imgpath" height="200px" width="150px">
 <button id="Btn" class="btn btn-primary" (click)="fun()">know more 
  <!-- click event -->

 </button>
 <br><p  [innerHTML]="str"></p>
 <br>
 
</div>
<h1 class="text-center" [ngStyle]="{'color':'red' ,'font-size':'30px'}">Addition of Two numbers using event binding</h1>
<div id="btn_container">
  <input type="text" class="input" #n1>+
  <input type="text"class="input"  #n2>
   
  <!-- mouser event -->

</div>
<div class="operation_con">
<button id="Btn_res" (mouseout)="out()" (mouseover) ="add(n1.value , n2.value)"> Addition</button>
<button id="Btn_res" (mouseout)="out()" (mouseover) ="sub(n1.value , n2.value)"> Substraction</button>
<button id="Btn_res" (mouseout)="out()" (mouseover) ="mul(n1.value , n2.value)"> Multiplication</button>
<button id="Btn_res" (mouseout)="out()" (mouseover) ="div(n1.value , n2.value)"> Division</button>

</div>
<h3  class="text-center" > Result : {{res}} <h3>