#img
{
border: none;
border-radius: 5px;
}
#container
{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
/* added css */
#Btn{
    margin: 5px;
    padding: 5px;
 height: 50px;
 width: 200px;
}
.input
{
    margin: 5px;
    border-radius: 5px;
}
#btn_container
{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Btn_res
{
    
    border: none;
    border-radius: 10px;
    color:black ;
    padding: 5px;
 height: 40px;
 width: 200px;
 
 background-color: yellow;
}
.operation_con{
   display: flex;
   justify-content: center;
   gap: 20px;


}